body
{
    margin: 0px;
    background-color: #efdf69;



}
.contact
{
    display: flex;
    height: 500px;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1262295023/photo/call-center-desktop-with-headset-and-accessories-on-yellow-table-panoramic-banner-top-view.jpg?s=612x612&w=0&k=20&c=9vU7m3kW3rhZdfxvPyzx-NQeRjyOrzmtN_g14oemnWM=);
    background-size: cover;
}

.contact .mob
{   display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    background-color: rgb(24, 1, 1, 0.7);

    align-items: center;
}
.contact .mob p{
    font-size: 50px;
    color: white;  
    font-family: cursive;  
}
/* .office .home p:hover
{
background-color: #cdaf2b;
border: 5px solid #b59506;
border-radius: 25%;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;


} */
.contact .mob .t{
    display: flex;
    align-items: flex-end;
} 
 .form
 {  display: flex;
   justify-content: space-evenly;
   /* margin-right: 30px; */
    margin-left: 30px;
    /* border: 5px solid black; */
    width: 96%;
    height: 600px;
 }
.info
{   display: flex;
    justify-content: center;
  
    /* border: 5px solid black; */
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 30px;
    background-color: rgba(239, 201, 34, 0.978);


}
.contact1
 {  background-color: white;
    /* border: 5px solid black; */
    width: 500px;
    height: 400px;
   
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
 }

.CUS
{
    /* border: 5px solid black; */
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: rgba(239, 201, 34, 0.978);


}
.button1
{
    margin-left: 35%;
    margin-right: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size:30px;
    background-color: rgba(239, 201, 34, 0.978);

}