body
{
    margin: 0px;
    background-color: #efdf69;
    font-family: cursive;



}
.contact
{
    display: flex;
    height: 500px;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1354140549/vector/contact-glyph-icons-editable-stroke-pixel-perfect-for-mobile-and-web-contains-such-icons-as.jpg?s=612x612&w=0&k=20&c=lkwBMyI6YBaMMbVEcSurkwYPKjwfLYz_c8Ki9seQ95I=);
    background-size: cover;
}

.contact .mob
{   display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    background-color: rgb(24, 1, 1, 0.7);

    align-items: center;
}
.contact .mob p{
    font-size: 50px;
    color: white;  
    font-family: cursive;  
}
/* .office .home p:hover
{
background-color: #cdaf2b;
border: 5px solid #b59506;
border-radius: 25%;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;


} */
.contact .mob .t{
    display: flex;
    align-items: flex-end;
} 
 .form
 {  display: flex;
   justify-content: space-evenly;
   /* margin-right: 30px; */
    margin-left: 30px;
    /* border: 5px solid black; */
    width: 96%;
    height: 600px;
 }
.info
{   display: flex;
    justify-content: center;
    flex-direction: column;
  
    /* border: 5px solid black; */
    width: 600px;
    height: 500px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 30px;
    background-color: rgba(239, 201, 34, 0.978);


}
.info h1{
    text-align: center;
}
.contact1{
    justify-content: center;
    background-color: white;
    /* border: 5px solid black; */
    width: 500px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 30px;
   
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
 }
 
.button1
{
    margin-left: 35%;
    margin-right: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size:30px;
    background-color: rgba(239, 201, 34, 0.978);

}

.info .contact1.button{
background-color: grey;
}




